<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
      {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
      <p class="meta">
        {{ i18n "last_updated" }} {{ partial "date-fmt.html" .}} 
          {{ partial "github.html" . }}
      </p>
      <ul class="tags">
          {{ if .Params.Authors }}
          <li class="dropdown" id="authors">
            <a>Authors</a>
            <ul id="author-list">
              <h1>Authors</h1>
              {{ range $author := .Params.Authors }}
              <li>{{ $author }}</li>
              {{ end }}
            </ul>
            </li>
          {{ end }}
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">
          {{if (eq $.Site.Language.Lang "en")}}
            {{ .LinkTitle | humanize }}
          {{else}}
            {{ .LinkTitle }}
          {{end}}
            </a>
           </li>
          {{ end }}
          <li class="links">
            {{if .Params.Link }}
              <a href="{{ .Params.Link }}" target="_blank" rel="noreferrer">
                {{/*  <img src="link-icon.svg" />  */}}
                Link
              </a>
            {{ end }}
            {{if .Params.Wikipedia }}
              <a href="{{ .Params.Wikipedia }}" target="_blank" rel="noreferrer" class="wikipedia">Wikipedia</a>
            {{ end }}
          </li>
      </ul>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
    </article>
    {{partial "footer.html" .}}
</div>
</body>
</html>
