// Add your own CSS here!

:root {
  --light: #faf8f8;
  --light-alpha: rgba(250, 248, 248, 0.6);
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #fe716e;
  --primary-intense: #ff9d5c;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
  --g-node-hashtag: rgb(189, 147, 255);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --light-alpha: rgba(30, 30, 33, 0.6) !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --primary-intense: #ff9d65 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;

  >* img[src$=".svg"] {
    filter: invert(100%);
  }
}

@mixin highlight($color) {
  display: inline-block;
  color: var(--dark);
  padding: 0 5px;
  margin: 0 2px;
  background-color: rgba($color, 0.25);
  border-radius: 5px;
  text-decoration: 2px underline $color;
  position: relative;
  text-shadow: 2px 2px 4px var(--light);
}

mark {
  &.hltr-pink {
    @include highlight(rgb(255, 170, 184))
  }

  &.hltr-red {
    @include highlight(rgb(255, 0, 0))
  }

  &.hltr-orange {
    @include highlight(rgb(255, 128, 0))
  }

  &.hltr-yellow {
    @include highlight(rgb(255, 217, 0))
  }

  &.hltr-green {
    @include highlight(rgb(32, 255, 32))
  }

  &.hltr-cyan {
    @include highlight(cyan)
  }

  &.hltr-blue {
    @include highlight(rgb(41, 109, 255))
  }

  &.hltr-purple {
    @include highlight(rgb(255, 0, 255))
  }
}

#index {
  &>.bio {
    display: flex;
    gap: 1.5em;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse !important;
      gap: 4em;
    }

    &>.writing-sidebar {
      flex: 0 0 30%;

      &>div {
        margin-bottom: 2em;
      }

      & ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        z-index: 0;
      }

      &>div>a {
        opacity: 0.6;
      }

      & h2 {
        font-size: 1.4rem;
        margin: 0.75em 0;
      }

      & .section {
        margin-bottom: 1.2em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin: 0.2em 0;
      }

      & .tags>li>a {
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}

hr {
  overflow: visible;
  /* For IE */
  padding: 0;
  margin: 5em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  z-index: -999;
  border-color: var(--gray);

  &:after {
    content: "* * *";
    z-index: -999;
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
    transform: translateY(-0.1em);
  }
}

li.links {
  float: right;
  margin-left: 10px;
}

li.links > a {
  &::before {
    content: "\21F1";
    content: "\2197";
  }

  &.wikipedia::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('wikipedia-logo.svg');
    background-size: 15px 15px;
    display: inline-block;
    margin-top: 4px;
  }
}

img[src$=".svg"] {
  max-width: 60%;
  margin: auto;
}

.writing-sidebar {
  > h2 {
    line-height: 1.5;
    margin: 0 0;
    padding: 0 auto;
  }

  > div {
    padding-bottom: 20px;
  }
}

li.dropdown {
  &.dropdown > ul {
    > h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    display: inline;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    transition-delay: 0s;
    position: absolute;
    opacity: 0%;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 1;
    background-color: var(--light-alpha);
    transform: translate(2%, 0%);
    backdrop-filter: blur(5px);
    border: 1px solid var(--outlinegray);
    border-radius: 10px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 0;
  }

  > a::before {
    content: "\23f5";
  }

  &:hover {
    > a::before {
      content: "\23f7";
    }

    > ul {
      visibility: visible;
      transition-delay: 0s;
      opacity: 100%;
    }
  }
}

article a.internal-link {
  &.hashtag {
    color: var(--primary);
    margin: 0 5px;
    &:hover {
      color: var(--primary-intense) !important;
    }
  }

  &.not-found, &.not-found:hover {
    background: none;
    color: var(--outlinegray) !important;
  }
}

.goat > svg {
  color: var(--dark);
}

p.comment {
  color: var(--visited);
}

