<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div id="index" class="singlePage">
    {{partial "header.html" .}}
    <div class="bio">
        <div class="writing-sidebar">
            <div>
                <h2>Recent Writing</h2>
                {{$writing := where .Site.RegularPages "Section" "posts" }}
                <ul class="delay stagger">
                    {{range first 3 $writing }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{partial "date-fmt.html" .}} 
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                {{ if (gt (len $writing) 3) }}
                <a href="/posts">See {{sub (len $writing) 3}} more →</a>
                {{ end }}
            </div>
            <div class="delay t-4">
                <h2>Recent Thoughts</h2>
                {{$thoughts := where .Site.RegularPages "Section" "thoughts"}}
                <ul class="delay stagger">
                    {{range first 2 $thoughts }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{ .Lastmod.Format "Jan 2, 2006" }}
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                {{ if (gt (len $thoughts) 2) }}
                <a href="/thoughts">See {{sub (len $thoughts) 2}} more →</a>
                {{ end }}
            </div>
            <div>
                <h2>Recent Technical Notes</h2>
                {{$technical := where .Site.RegularPages "Section" "technical"}}
                <ul>
                    {{range first 2 $technical }}
                    <li>
                        <div class="section">
                            <div class="desc">
                                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                            </div>
                            <p class="meta">
                                {{.WordCount}} words on {{ .Lastmod.Format "Jan 2, 2006" }}
                            </p>
                            {{partial "tags.html" .}}
                        </div>
                    </li>
                    {{end}}
                </ul>
                {{ if (gt (len $technical) 2) }}
                <a href="/technical">See {{sub (len $technical) 2}} more →</a>
                {{ end }}
            </div>
        </div>
        <article>
            {{partial "textprocessing.html" . }}
        </article>
    </div>
    <div class="delay t-4">
        {{partial "footer.html" .}}
    </div>
</div>
</body>
</html>
